<div class="mt-16 flex flex-col gap-16">
  {% for category, sub_categories in command_list %}
    {% set category_info = category !== 'c0' %}

    <h2
      class="mt-16 text-center text-3xl sm:text-4xl md:text-5xl font-black"
      id="{{ category | slugify }}"
    >
      <a class="link link-hover" href="#{{ category | slugify }}">
        {{ toc[category] }}
      </a>
    </h2>

    {% for sub_category, commands_data in sub_categories %}
      <div
        class="px-6 py-8 flex flex-col gap-16 md:rounded-box bg-base-100"
        id="{{ sub_category | slugify }}"
      >
        <h2 class="text-center text-3xl sm:text-4xl font-bold">
          <a class="link link-hover" href="#{{ sub_category | slugify }}">
            {{ toc[sub_category] }}
          </a>
        </h2>

        {% for commands, data in commands_data %}
          {% if data %}
            <div class="flex flex-col gap-4">
              <h3 class="flex items-center flex-wrap gap-2" id="{{ commands | slugify }}">
                {% for command in commands | array %}
                  <span
                    class="
                      px-2 py-1 text-xl font-mono font-bold rounded bg-base-300
                      {% if category_info %}hover:bg-base-200{% endif %}
                    "
                  >
                    {% if category_info %}
                      <a
                        href="https://www.mankier.com/1/{{ command }}"
                        target="_blank"
                        rel="noopener noreferrer"
                      >
                    {% endif %}
                      {{ command }}
                    {% if category_info %}</a>{% endif %}
                  </span>
                {% endfor %}
                <a
                  class="text-2xl font-mono font-black opacity-25 hover:opacity-100"
                  href="#{{ commands | slugify }}"
                >#</a>
              </h3>

              {% if data.keyword %}
                <p>
                  Equivalent Ruby keyword:
                  {% for keyword in data.keyword | array %}
                    <a
                      class="btn btn-sm btn-secondary ml-2 normal-case font-mono"
                      href="{{ keyword.url }}"
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      {{- keyword.name -}}
                    </a>
                  {% endfor %}
                </p>
              {% endif %}

              {% if data.gem %}
                <p>
                  Equivalent Ruby gem:
                  {% for gem in data.gem | array %}
                    <a
                      class="btn btn-sm btn-accent ml-2 normal-case font-mono"
                      href="https://rubygems.org/gems/{{ gem }}"
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      {{- gem -}}
                    </a>
                  {% endfor %}
                </p>
              {% endif %}

              {% for api in data.api | array %}
                {% set api_name = api.name or api %}
                {% set api_url = api.url or (api | rubyapi) %}
                <div class="collapse collapse-arrow bg-base-200 rounded">
                  <input type="checkbox" />
                  <div class="collapse-title flex items-center sm:text-xl font-mono">
                    {{ api_name }}
                  </div>
                  <div class="collapse-content w-[calc(100vw-3rem)] md:w-full flex flex-col gap-4"> <!-- FIXME: <pre> -->
                    <div class="prose max-w-full min-w-0">
                      {{ api_name | rdoc | safe }}
                    </div>
                    <a
                      class="btn btn-info place-self-end normal-case"
                      href="{{ api_url }}"
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      Read more on Ruby API
                    </a>
                  </div>
                </div>
              {% endfor %}

              {% if data.explain or data.code %}
                <div class="prose max-w-full min-w-0">
                  {% if data.explain %}
                    {{ data.explain | safe }}
                  {% elif data.code %}
                    Equivalent Ruby code:
                  {% endif %}

                  {% if data.code %}
                    {{ data.code | code | safe }}
                  {% endif %}
                </div>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  {% endfor %}
<div>
