<footer class="footer footer-center my-16">
  <div class="flex max-sm:flex-col gap-8 sm:gap-16 sm:text-lg font-serif">
    <p>Copyright &copy; {{ build.date.getFullYear() }}</p>
    <a
      class="link link-hover"
      href="{{ metadata.author.url }}"
      target="_blank"
      rel="noopener noreferrer"
    >Made with <span class="font-mono">&lt;3</span> by NNB</a>
    <a
      class="link link-hover"
      href="https://codeberg.org/NNB/ruby-on-shell"
      target="_blank"
      rel="noopener noreferrer"
    >Source code</a>
  </div>
</footer>
