<div class="hero h-64 sm:h-80">
  <div class="hero-content">
    <div class="flex flex-col items-center gap-4 sm:gap-8">
      <h1 class="flex justify-center items-center gap-2 sm:gap-4">
        <img
          class="-ml-2 w-12 h-12 sm:w-16 sm:h-16"
          src="{{ '/static/ruby.svg' | url }}"
          alt="💎"
        >
        <span class="text-4xl sm:text-6xl font-bold text-[#F2836D]">Ruby on Shell</span>
      </h1>
      <p class="sm:text-xl">A handbook on using Ruby for shell scripting!</p>
    </div>
  </div>
</div>
