<ul class="menu w-full">
  <li><a href="#top">
    <img
      class="-mr-1 w-4 h-4"
      src="{{ '/static/ruby.svg' | url }}"
      alt="💎"
    >
    <span class="text-xl font-bold text-[#F2836D]">Ruby on Shell</span>
  </a></li>

  {% for category, sub_categories in command_list %}
    <li class="xl:bg-gradient-to-l xl:from-base-200"></li>
    <li class="menu-title">
      <span>{{ toc[category] }}</span>
    </li>

    {% for sub_category, _ in sub_categories %}
      <li><a href="#{{ sub_category | slugify }}">{{ toc[sub_category] }}</a></li>
    {% endfor %}
  {% endfor %}

  <li class="xl:bg-gradient-to-l xl:from-base-200"></li>
  <li><a href="{{ metadata.author.url }}" target="_blank" rel="noopener noreferrer">
    About Me
  </a></li>
  <li><a href="https://codeberg.org/NNB/ruby-on-shell" target="_blank" rel="noopener noreferrer">
    Source Code
  </a></li>
</ul>
