@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  code {
    @apply px-2 py-1 rounded bg-base-200;
  }
  .toc {
    @apply menu font-serif;
  }
  .toc > ul ul {
    @apply ml-4;
  }
}
