<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ruby on Shell</title>
  <meta name="description" content="A handbook on using Ruby for shell scripting" />
  <link rel="icon" href="{{ '/static/icon.svg' | url }}" />

  <meta property="og:site_name" content="Ruby on Shell" />
  <meta property="og:title" content="Ruby on Shell" />
  <meta property="og:description" content="A handbook on using Ruby for shell scripting" />
  <meta property="og:image" content="{{ '/static/banner.png' | url }}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ page.url | url }}" />
  <meta property="og:locale" content="en" />

  {% set css %}
    {% include "src/styles/index.css" %}
  {% endset %}
  <style>
    {{ css | postcss | safe }}
  </style>
  <link
    href="https://fonts.googleapis.com/css?family=Be+Vietnam+Pro:100,200,300,400,500,600,700,800,900&display=swap"
    rel="stylesheet"
  />
  <link href="https://fonts.googleapis.com/css?family=JetBrains+Mono&display=swap" rel="stylesheet" />
</head>
<body class="bg-base-200">
  <div class="drawer xl:drawer-open max-xl:drawer-end">
    <input id="main-drawer" type="checkbox" class="drawer-toggle" aria-label="Drawer toggle" />
    <div class="drawer-content flex">
      <div class="max-xl:w-full xl:flex-1 flex justify-center">
        <main class="w-screen max-w-4xl" id="top">
          {{ content | safe }}
        </main>
      </div>

      <div class="w-0 2xl:w-80 duration-200"></div>
    </div>

    <label
      for="main-drawer"
      class="xl:hidden btn btn-square hover:btn-primary m-4 shadow fixed bottom-0 right-0"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 h-6"><path fill="currentColor" d="M4 18h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1s.45 1 1 1zm0-5h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1s.45 1 1 1zM3 7c0 .55.45 1 1 1h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1z" /></svg>
    </label>

    <div class="drawer-side">
      <label for="main-drawer" class="drawer-overlay"></label>
      <div
        class="
          w-80 h-full bg-base-300 bg-opacity-75 backdrop-blur shadow
          xl:bg-base-200 xl:bg-opacity-100 xl:backdrop-blur-none xl:shadow-none xl:flex xl:items-center
        "
      >{% include "toc.njk" %}</div>
    </div>
  </div>
</body>
</html>
