---
permalink: 404.html
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Redirecting to Ruby on Shell</title>
  <meta name="description" content="A handbook on using Ruby for shell scripting" />
  <meta http-equiv="refresh" content="0; url={{ '/' | url }}" />
</head>
<body>
  <a href="{{ '/' | url }}">Click to redirect</a>
</body>
